/* @tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

html,
body {
  @apply text-primary;
  font-family: "Inter", sans-serif;
}

body {
  @apply bg-white lg:bg-[#eef7fe];
}

.btnboxshadow {
  box-shadow: 0px 2px 16px 0px rgba(149, 173, 254, 0.5);
}
.questioncard {
  box-shadow: 0px 2px 16px 0px rgba(149, 173, 254, 0.5);
}

@layer components {
  .ripple {
    position: relative;
  }

  .ripple > .circle {
    @apply rounded-full h-full w-full absolute opacity-0 bg-accent transition-all duration-500;
  }

  .ripple.animate > .circle {
    animation: growAndFade 2s infinite ease-out;
  }

  .ripple .circle:nth-child(1) {
    animation-delay: 0s;
  }

  .ripple .circle:nth-child(2) {
    animation-delay: 0.5s;
  }

  .ripple .circle:nth-child(3) {
    animation-delay: 1s;
  }

  .ripple .circle:nth-child(4) {
    animation-delay: 1.5s;
  }
}

@keyframes growAndFade {
  0% {
    opacity: 1;
    transform: scale(0.2);
  }

  100% {
    opacity: 0;
    transform: scale(1);
  }
} */



@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
  
:root {
  --main-bg: #EEF7FE;
  --lightBlue: #5CBDFA;
  --lightGreen: #25C10B;
  --gradientBtn: linear-gradient(90deg, #01ABEC 0%, #2E3B89 100%);

  --heading: #0F3A56;
}



.animate .circle{
  animation: growAndFade 2s infinite ease-out;
  transition: all .5s ease-out;
}
.animate .layer1{
  animation-delay: 0s;
}
.animate .layer2{
  animation-delay: 1s;
}
.animate .layer3{
  animation-delay: 1.5s;
}

@keyframes growAndFade {
  0% {
    opacity: 1;
    transform: scale(.7);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
